/* css reset */
#html,body{height:90%;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#646464;margin:0;padding:0;line-height:20px;}
/*html{background: url(/assets/images/bg/bg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}*/
html{background-color: #fefef9}

a:link{padding:1px;font-weight:normal;color:#690;text-decoration:none;}
a:visited{padding:1px;font-weight:normal;color:#690;text-decoration:none;}
a:hover{font-weight:normal;color:#99b43a;text-decoration:none;}
a:active{font-weight:normal;color:#acca42;text-decoration:none;}

img{margin:0;padding:0;border:0;}

h1{font-size:22px;color:#333;margin:0;padding:5px 0 3px 0;}
h2{font-size:16px;color:#333;margin:0;padding:5px 0 3px 0;}
h3{font-size:14px;color:#333;margin:0;padding:5px 0 3px 0;}

pre{font-family:Verdana,sans-serif;font-size:11px;color:#666;line-height:16px;}

div.cf{clear:both;height:0;margin:0;font-size:1px;line-height:0px;}
div.fl{float:left;}
div.fr{float:right;}

.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}

p:first-child,h2:first-child,h3:first-child{margin-top:0;padding-top:0;}
p{padding-bottom:2px;}

ul{padding:0px 10px 5px 30px;margin:0;}
ul li{list-style:url(/assets/images/icons/arrow_green.png);list-style-position:outside;}

.links{overflow:auto;padding:5px 0;}
.major_links,.major_links a{font-size:1.2em;font-weight:bold;color:#f60;letter-spacing:2px;}
.major_links a:hover{color:#f90;}
.minor_links ul li,.minor_links ul li a{font-size:1em;line-height:14px;}
.hint{color:#999;}
.clearfix{clear:both;height:0;margin:0;font-size:1px;line-height:0px;}

/* home page */
#main{width:880px;margin:auto;}

/* pagination styles */
div.pagination{float:right;margin:0.5em 0;font-size:11px;line-height:1.5;}
div.pagination .selected,div.pagination a{text-decoration:none;padding:0.2em 0.5em;border:1px solid #ccc;margin:0 0.1em;}
div.pagination a:hover{color:#690;border-color:#99b43a;background:#fff;}
div.pagination .selected{font-weight:bold;border:0;}
div.pagination .ellipsis{margin:0 0.25em;}
div.pagination a:hover span{text-decoration:none;}

/* pagination styles */
div.pagination a.prevlink{padding-left:12px;border:0;background:url(/assets/images/icons/page_prev.png) no-repeat left center;color:#690;}
div.pagination a.prevlink:hover{color:#99b43a;}
div.pagination a.nextlink{padding-right:12px;border:0;background:url(/assets/images/icons/page_next.png) no-repeat right center;color:#690;}
div.pagination a.nextlink:hover{color:#99b43a;}
 
/* pagination styles */
div.pagination a.prevlink,div.pagination a.prevlink:hover{padding-left:12px;border:0;background:url(/assets/images/icons/page_prev.png) no-repeat left center;color:#690;}
div.pagination a.nextlink,div.pagination a.nextlink:hover{padding-right:12px;border:0;background:url(/assets/images/icons/page_next.png) no-repeat right center;color:#690;}

/* footer styles */
#footnote{font-size:10px;text-align:right;color:#999;margin:0 10px 0 0;}

#page_footer{position:fixed;bottom:0;width:100%;height:120px;background:#333;opacity:.95;filter:alpha(opacity=95);}
#page_footer_lip{width:100%;bottom:117px;height:3px;background:#690;}
#page_footer a{color:#999;}
#page_footer a:hover{color:#99b43a;background:none;text-decoration:none;}
#page_footer #links{position:relative;top:-15px;width:300x;}
#page_footer #links a:hover{background:none;text-decoration:none;}
#page_footer #links .link{display:inline-block;float:left;width:90px;}
#page_footer #links .first{margin:0 0 0 25px;}

/* spinner */
#spinner{display:none;}
#spinner #spinner_wrapper_outer{position:fixed;top:0;left:0;width:100%;height:100%;z-index:30;background:#000;opacity:.6;filter:alpha(opacity=6);}
#spinner #spinner_wrapper_inner{position:relative;width:59px;height:59px;margin:0 auto;z-index:31;}
#spinner #spinner_container{width:31px;height:31px;position:relative;top:-45px;z-index:32;background-image:url(/assets/images/spinner.gif);margin:0 auto;}

/* misc. */
.paper{min-height:600px;margin:20px 0 150px 0;padding:10px 15px 20px 15px;background:#fff;border-top:1px solid #efefef;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #efefef;-moz-box-shadow:5px 5px 20px #000;-webkit-box-shadow:5px 5px 20px #000;box-shadow:5px 5px 20px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000');}
.short_paper{min-height:200px;overflow:auto;margin:20px 0 0 0;padding:10px 15px 20px 15px;background:#fff;border-top:1px solid #efefef;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #efefef;}

.big-text{font-size:24px;line-height:30px;}
.big-link{font-size:24px;}

/* javascript disabled */
#javascript-disabled-wrapper{position:fixed;top:0;z-index:1;width:100%;}
#javascript-disabled{margin:0 auto;width:200px;height:20px;background:#f00;-moz-border-radius:0 0 5px 5px;-khtml-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;text-align:center;font-family:Arial,sans-serif;font-size:11px;color:#fff;font-weight:bold;}

/*** dev ***/
header{display:block;color:#000;background-image:-moz-linear-gradient(top,#c5c5c5,#b0b0b0);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#c5c5c5),color-stop(1,#b0b0b0));background-image:-o-linear-gradient(top,#c5c5c5,#b0b0b0);border-top:1px solid #dcdcdc;border-bottom:1px solid rgb(105,105,105);text-shadow:0px 1px 0px rgba(255,255,255,0.5);font-family:Arial,sans-serif;padding:1px 10px;overflow:hidden;z-index:10000;position:relative;}
header h1{float:left;font-size:18px;line-height:32px;cursor:default;}

/* tabs */
#tabs {
	overflow-x: hidden;
	overflow-y: auto;
}
#tabs ul{padding:0px 10px 5px 0;margin:0;}
#tabs ul li{list-style:none;list-style-position:outside;}
/*.tab-wrapper{height:500px;}*/
/*.ui-state-default.ui-corner-top{-moz-border-radius:10px 10px 0 0;-khtml-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}*/
.ui-state-default.ui-corner-top{-moz-box-shadow:2px 2px 5px #000;-webkit-box-shadow:2px 2px 5px #000;box-shadow:2px 2px 5px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000');}

.login{font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;}
.login{position:fixed;left:50px;top:50px;width:310px;padding:10px 10px 30px 10px;border-top:1px solid #999;border-right:1px solid #666;border-bottom:1px solid #666;border-left:1px solid #999;background:#fff;-moz-box-shadow:5px 5px 20px #000;-webkit-box-shadow:5px 5px 20px #000;box-shadow:5px 5px 20px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000');}
.header{font-size:20px;color:#666;font-weight:bold;padding-bottom:0;margin-bottom:0;}
.login .fieldgroup{width:100%;margin-bottom:.05em;}
.login .fieldgroup:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.login label{position:relative;top:-1px;font-weight:bold;width:80px;clear:both;padding:0 10px 0 0;line-height:22px;padding-top:0px;float:left;display:block;color:#333;font-size:108%;text-align:right;}
.login .field{float:left;font-size:95%;}
.login .field input,.login .field select{font-size:110%;padding:2px;}
.login-controls{padding:0;width:87px;float:right;}
.login input[type="text"],.login input[type="password"]{position:relative;left:-2px;width:200px;height:15px;padding:2px 3px 2px 3px;border:1px solid #999;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

.error{font-weight:bold;color:#f00 !important;}

.logged-in-as {
	color: #fff;
	background: #333;
	border: 1px solid #000;
	padding: 2px 10px;
	margin-right: 2px;
}

a.menu {
	color: #fff;
	background: #3a968a;
	border: 1px solid #333;
	padding: 2px 5px;
	margin-right: 2px;
}

a.menu:hover {
	background: #999;
}

.new-window {
	background: #666 !important;
}

.new-window:hover {
	background: #999 !important;
}

.control {
	color: #fff;
	background: #000;
	border: 1px solid #000;
	padding: 2px 5px;
	margin-right: 2px;
	cursor: pointer;
}

.control:hover {
	background: #666;
}

a.logout {
	color: #999;
	border: 1px solid #ccc;
	padding: 2px 5px;
}

a.logout:hover {
	background: #eee;
}

#debug{display:none;position:fixed;right:0;bottom:0;width:600px;height:400px;border:1px solid #666;background:#fff;overflow:auto;padding:5px 10px;z-index:1;opacity:.7;filter:alpha(opacity=70);}

#logo {
	position: relative;
	top: 0px;
	background-image: url(/assets/images/logos/versal_logo.jpg);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	float: left;
	width: 30px;
	height: 50px;
	padding-right: 5px;
}

#title {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 32px;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	padding-top: 5px;
}

#heading-left {
	float: left;
	width: 435px;
}

#heading-right {
	float:right;
}

#page-heading {
	color: #aaa;
}

#page-heading-small {
	color: #aaa;
	font-size: 20px;
}

#login-details {
	float: right;
}

#controls-left {
	float: left;
}

#controls-right {
	position: relative;
	top: 16px;
	float: right;
}

#error-response-wrapper {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	opacity:.9;
	filter:alpha(opacity=90);
}

#error-response {
	display: block;
	height: 24px;
	color: #fff;
	background: red;
	text-align: center;
	margin: 0 auto;
	z-index:30;
}

#notices-wrapper {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

#notices {
	border: 1px solid #000;
	color: #fff;
	background: red;
	width: 500px;
	min-height: 24px;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    text-align: center;
    padding: 7px 10px 4px 10px;
    margin: auto;
}

#notices a {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

/* input tweaks */
input[type="text"] {
	position: relative;
	left: 2px;
}

#txtSerialNumber, #txtEmployee {
	width: 110px;
	margin-right: 10px;
}

#txtEditAssetHostname, #txtEditAssetMacEth, #txtEditAssetMacWlan, #txtEditEmployeeFirstName, #txtEditEmployeeLastName, #selDepartment, #selGroup, #txtEditEmployeeRemoteLocation, #txtEditAssetPurchaseOrderId {
	position: relative;
	left: -1px;
}

#txtEditEmployeeFirstName, #txtEditEmployeeLastName {
	text-transform: capitalize;
}

#txtSerialNumber {
	text-transform: uppercase;
}

#txtEditAssetModel {
	margin: 5px 0 10px 2px;
	resize: none;
}

label {
	vertical-align: top;
}

#get-model-info {
	display: inline-block;
	position: relative;
	top: -2px;
	left: 5px;
	width: 16px;
	height: 16px;
	background:url(/assets/images/icons/get_model_info.png) no-repeat left center;
	cursor: pointer;
}

#data-container, #page-container {
	margin-top: 10px;
	width: 845px;
	height: 650px;
	overflow-x: hidden;
	overflow-y: auto;
}

#data-container {
	border: 1px dotted #a3c94f;
}

#newspaper-a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	margin: 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

#newspaper-a th {
	padding: 12px 17px 12px 17px;
	font-weight: bold;
	color: #333;
	border-bottom: 2px solid #666;
}

#newspaper-a td {
	padding: 7px 17px 7px 17px;
	color: #333;
	border-bottom: 1px dashed #666;
}

#newspaper-a thead tr.noborder th {
	padding: 12px 17px 0 17px;
	border-bottom: none;
}

#newspaper-b {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	/*margin: 45px;*/
	width: 845px;
	text-align: left;
	border-collapse: collapse;
	cursor: default;
}

#newspaper-b th {
	padding: 15px 10px 10px 6px;
	font-weight: normal;
	font-size: 14px;
	color: #333;
}

#newspaper-b tbody {
	background: #f2fae1;
}

#newspaper-b td {
	vertical-align: top;
	padding: 6px;
	color: #333;
	border-top: 1px solid #fff;
}

#newspaper-b tbody tr:hover td {
	color: #333 !important;
	background: #d5f7a1;
}

#newspaper-b tbody tr.exit td {
	color: #333 !important;
	background: #ccc;
}

#newspaper-b tbody tr.exit:hover td {
	color: #333 !important;
	background: #bbb;
}

#newspaper-c {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	width: 800px;
	text-align: left;
	border-collapse: collapse;
	cursor: default;
}

#newspaper-c th {
	padding: 5px 5px 5px 3px;
	font-weight: normal;
	font-size: 12px;
	color: #333;
	background: #d5f7a1;
}

#newspaper-c tbody {
	background: #f2fae1;
}

#newspaper-c td {
	vertical-align: text-top;
	padding: 6px;
	color: #333;
	border-top: 1px solid #fff;
}

#newspaper-c thead tr.noborder th {
	padding: 5px 5px 0 3px;
	border-bottom: none;
	background: #d5f7a1;
}

.history,.details {
	background:#5ccd00;
	/*
	background:-moz-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5ccd00),color-stop(100%,#4aa400));
	background:-webkit-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:-o-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:-ms-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ccd00',endColorstr='#4aa400',GradientType=0);
	*/
	padding:10px 15px;
	color:#fff !important;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:11px;
	/*border:1px solid #459a00 !important;*/
	cursor:pointer;
}

.history:hover,.details:hover {
	//background: #b1f963 !important;
	background: url(/assets/images/bg/bg_clickable.gif) !important;
}

/* dialogs */

.dialog-container {
	/*border: 1px dashed #999;*/
	width:99%;
	height: 310px;
}

#history-dialog .dialog-container {
	/*border: 1px dashed #999;*/
	width:99%;
	height: 390px;
}

#warning-dialog .dialog-container {
	/*border: 1px dashed #999;*/
	width:99%;
	height: 150px;
}

.dialog-buttons {
	float: right;
}

.delete-button, .delete-confirm-button {
	display:none;
	background:#f66;
	background:-moz-linear-gradient(top,#f66 0%,#f30 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f66),color-stop(100%,#f30));
	background:-webkit-linear-gradient(top,#f66 0%,#f30 100%);
	background:-o-linear-gradient(top,#f66 0%,#f30 100%);
	background:-ms-linear-gradient(top,#f66 0%,#f30 100%);
	background:linear-gradient(top,#f66 0%,#f30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f66',endColorstr='#f30',GradientType=0);
	padding:5px 5px;
	margin-top:10px;
	margin-right: 168px;
	color:#fff !important;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:11px;
	border:1px solid #f00;
	width:50px;
	height:18px;
	text-align:center;
	cursor:pointer;
}

.delete-confirm-button {
	display:inline-block;
	margin-right: 0;
}

.warning {
	float:left;
	width:80px;
}

.warning-logo {
	background:url(/assets/images/icons/warning.png) no-repeat left center;
	width:80px;
	height:64px;
}

.warning-info {
	float:right;
	width: 200px;
}

.cancel-button {
	display:inline-block;
	background:#f66;
	background:-moz-linear-gradient(top,#666 0%,#000 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#666),color-stop(100%,#000));
	background:-webkit-linear-gradient(top,#666 0%,#000 100%);
	background:-o-linear-gradient(top,#666 0%,#000 100%);
	background:-ms-linear-gradient(top,#666 0%,#000 100%);
	background:linear-gradient(top,#666 0%,#000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f66',endColorstr='#f30',GradientType=0);
	padding:5px 5px;
	margin-top:10px;
	color:#fff !important;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:11px;
	border:1px solid #000;
	width:50px;
	height:18px;
	text-align:center;
	cursor:pointer;
}

.save-button,.print-button {
	display:inline-block;
	background:#5ccd00;
	background:-moz-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5ccd00),color-stop(100%,#4aa400));
	background:-webkit-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:-o-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:-ms-linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	background:linear-gradient(top,#5ccd00 0%,#4aa400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ccd00',endColorstr='#4aa400',GradientType=0);
	padding:5px 5px;
	color:#fff !important;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:11px;
	border:1px solid #459a00;
	width:50px;
	height:18px;
	text-align:center;
	cursor:pointer;
}

.save-button:hover,.cancel-button:hover,.delete-button:hover,.print-button:hover {
	color:#000 !important;
	background:#fff !important;
}

.save-button-disabled {
	background:#eee;
	background:-moz-linear-gradient(top,#eee 0%,#eee 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eee),color-stop(100%,#eee));
	background:-webkit-linear-gradient(top,#eee 0%,#eee 100%);
	background:-o-linear-gradient(top,#eee 0%,#eee 100%);
	background:-ms-linear-gradient(top,#eee 0%,#eee 100%);
	background:linear-gradient(top,#eee 0%,#eee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#eeeeee',GradientType=0);
	border:1px solid #ccc;
	cursor:not-allowed;
}

.save-button-disabled:hover {
	color:#fff !important;
	background:#eee !important;
}

#edit-asset-details {
	float:left;
	width:418px;
	height:375px;
	border-right: 1px solid #999;
	padding-right:10px;
	margin-right:10px;
}

#edit-asset-transfer {
	float:left;
	width:350px;
	/*font-size:11px;*/
}

#duplicate-check {
	display:none;
	margin-left:20px;
	color:#999;
}

fieldset label {
	display: inline-block;
	width: 150px;
	padding-right: 5px;
	margin-bottom: 5px;
}

fieldset {
	border: 1px solid #999;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#txtEditAssetSerialNumber {
	width: 200px;
	text-transform: uppercase;
}

#edit-asset-serial-number label {
	position: relative;
	top: 1px;
	left: 5px;
}

#txtEditAssetDescription, #txtEditAssetModel {
	width: 225px;
}

#selEditAssetType {
	position: relative;
	left: 2px;
	width: 230px;
}

#selEditAssetEmployee, #selEditAssetDepartment {
	width: 170px;
}

#txtEditAssetDate {
	width: 100px;
}

#txtEditAssetNotes {
	width: 325px;
	height: 50px;
	resize: none;
}

#edit-asset-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .75;
	filter: alpha(opacity=0.75);
}

#edit-asset-model-list {
	display: none;
	position: absolute;
	top: 10px;
	left: 450px;
	width: 280px;
	height: 380px;
	background: #fff;
	border:1px solid #666;
	-moz-box-shadow:10px 10px 10px #000;-webkit-box-shadow:10px 10px 10px #000;box-shadow:10px 10px 10px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000');
    overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
}

.model-details {
	display: block;
	font-size: 11px;
	border: 1px solid #999;
	background: #f2fbe3;
	margin: 1px;
	padding: 3px 5px;
	cursor: pointer;
}

.model-details:hover {
	background: #d1f8a6;
}

.not-listed {
	color: #fff;
	border: 1px solid #000;
	background: #666;
}

.not-listed:hover {
	color: #fff;
	background: #333;
}

/* buttons */
.button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ddd;
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#cccccc',GradientType=0);
    */
    border: 1px solid #777;
    padding: 0 1.5em !important;
    margin: 0.1em;
    font: normal 1em/2em "Lucida Sans", sans-serif;
    text-decoration: none;
    color: #333 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

.button:hover { /* 5ccd00, #4aa400, #d5f7a1 */
	/*background-color: #d5f7a1;*/
	background:url(/assets/images/bg/bg_clickable.gif) !important;
	/*
    background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4aa400), to(#d5f7a1));
    background-image: -webkit-linear-gradient(top, #4aa400, #d5f7a1);
    background-image: -moz-linear-gradient(top, #4aa400, #d5f7a1);
    background-image: -ms-linear-gradient(top, #4aa400, #d5f7a1);
    background-image: -o-linear-gradient(top, #4aa400, #d5f7a1);
    background-image: linear-gradient(top, #4aa400, #d5f7a1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa400',endColorstr='#d5f7a1',GradientType=0);
	*/
}

.button:active {
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}

#btnAddAsset, #btnAddEmployee {
	display: none;
}

#btnAddAsset:before, #btnAddEmployee:before {
	content: "\271A";
}

.model-panel {
	display: inline-block;
	width: 100px;
	font-family: Courier, serif;
	font-size: 11px;
	line-height: 12px;
	color: #333;
	background: #fff;
	border: 2px solid #5ccd00;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px;
	padding: 3px 5px;
	word-wrap: break-word;
}

.status-1 {display:inline-block;width:24px;height:24px;background:url(/assets/images/icons/status.png) 0 0 no-repeat;}
.status-2 {display:inline-block;width:24px;height:24px;background:url(/assets/images/icons/status.png) -24px 0 no-repeat;}
.status-3 {display:inline-block;width:24px;height:24px;background:url(/assets/images/icons/status.png) -48px 0 no-repeat;}
.status-4 {display:inline-block;width:24px;height:24px;background:url(/assets/images/icons/status.png) -72px 0 no-repeat;}
.status-5 {display:inline-block;width:24px;height:24px;background:url(/assets/images/icons/status.png) -96px 0 no-repeat;}
.status-6 {display:inline-block;width:24px;height:24px;background:url(/assets/images/icons/status.png) -120px 0 no-repeat;}
.status-10 {display:inline-block;width:24px;height:24px;background:url(/assets/images/icons/status.png) -144px 0 no-repeat;}

.has-history {
	margin-right: 15px !important;
}

.has-history:hover {
	background: #a9e2f3;
	/*
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2eccfa), to(#a9e2f3));
    background-image: -webkit-linear-gradient(top, #2eccfa, #a9e2f3);
    background-image: -moz-linear-gradient(top, #2eccfa, #a9e2f3);
    background-image: -ms-linear-gradient(top, #2eccfa, #a9e2f3);
    background-image: -o-linear-gradient(top, #2eccfa, #a9e2f3);
    background-image: linear-gradient(top, #2eccfa, #a9e2f3);
    */
}

#history {
	height: 390px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* info panel */

#info-container {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#info-panel {
	margin: 0 auto;
	width: 500px;
	height: 40px;
	background: #fff;
	border: 1px solid #ccc;
	-moz-box-shadow:10px 10px 10px #000;-webkit-box-shadow:10px 10px 10px #000;box-shadow:10px 10px 10px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000');
}

#info {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
}

#assets {
	display: inline-block;
	width: 300px;
}

#users {
	display: inline-block;
	width: 120px;
}

#assets_assigned_inventory {
	color: #999;
}

/* reporting */

#report-container {
	border: 1px dotted #a3c94f;
	margin-top: 10px;
	width: 850px;
	height: 645px;

}

#report-1, #report-2, #report-3, #report-4, #report-5, #report-6, #report-7 {
	font-size: 11px;
	line-height: 11px;
	height: 540px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px dotted #ccc;
}

#output {
	font-family:Arial,Helvetica,sans-serif;font-size:6px;color:#333;margin:0;padding:0;line-height:5px;
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

#report {
	display: none;
}

#filter-wrapper-asset-history, #filter-wrapper-asset-movement {
	float: left;
}

#txtStartDate, #txtEndDate {
	width: 65px;
}

#btnLastMonth, #btnThisMonth, #btnClear {
	font: 10px/14px "Lucida Sans", sans-serif !important;
}

#btnLastMonth:hover, #btnThisMonth:hover, #btnClear:hover {
	background: #a9e2f3;
	/*
	background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0888ff), to(#08c8ff));
    background-image: -webkit-linear-gradient(top, #0888ff, #08c8ff);
    background-image: -moz-linear-gradient(top, #0888ff, #08c8ff);
    background-image: -ms-linear-gradient(top, #0888ff, #08c8ff);
    background-image: -o-linear-gradient(top, #0888ff, #08c8ff);
    background-image: linear-gradient(top, #0888ff, #08c8ff);
    */
}

.btnPrint {
	float: right;
	cursor: pointer;
}

.btnExport {
	float: right;
	cursor: pointer;
}

#btnPrintPreview {
	cursor: pointer;
}

.asset-movement-date {
	width: 100%;
	background: #eee;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px;
	margin: 50px 0 0 0;
}

.asset-movement-date:first-child {
	margin: 0;
}

.asset-movement {
	margin: 10px 0 20px 0;
}

.ui-tabs.ui-widget-content {
	border: 0;
}

.ui-dialog {
	-moz-box-shadow:10px 10px 10px #000;-webkit-box-shadow:10px 10px 10px #000;box-shadow:10px 10px 10px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000');
	outline: none;
}

/* ui-button-icon-primary ui-icon ui-icon-closethick */
.ui-dialog * {
	outline: none;
}

/** audit **/

#results-container {
	border: 1px dotted #a3c94f;
	margin-top: 30px;
	padding: 10px;
	width: 825px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
}

#btnRunAudit {
	display: none;
}

.audit {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.audit th {
	padding: 3px 5px 3px 5px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-align: left;
	border-bottom: 2px solid #ccc;
}

.audit .subhead th {
	padding: 1px 5px 1px 5px;
	font-size: 10px;
	font-weight: bold;
	color: #333;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.audit td {
	padding: 3px 5px 3px 5px;
	color: #333;
	border-bottom: 1px dotted #ccc;
}

.audit thead tr.noborder th {
	padding: 3px 5px 0 5px;
	border-bottom: none;
}

table.audit  {
	margin: 0 0 30px 0;
}

.error-message {
	font-size: 14px;
	color: #aaa;
}

.warning-message {
	color: #f00;	
}

/** provisioning **/

#tabs .ui-tabs-anchor {
	font-size: 11px;
}

#btnConnect:before {
	/* content: "\276F"; */
	content: "\2611";
}

#btnLogout:before {
	/* content: "\276F"; */
	content: "\2612";
}

#api-create-user input[type=checkbox] {
	margin-right: 8px;
}

#api-create-user label {
	position: relative;
	top: 1px;
}

#account-types, #override-groups, #common-groups, #department-groups, #sales-department-groups {
	border: 1px dotted #999;
	padding: 5px 10px 0 10px;
	margin-bottom: 15px;
}

#add-to-groups {}

#groups-wrapper-left {
	float: left;
}

#override-groups {
	width: 300px;
	margin-top: 15px;
	margin-bottom: 0;
	border: 1px solid #ccc;
	background: #eee;
}

#common-groups {
	width: 300px;
	margin-top: 10px;
}

#common-groups label {
	width: 200px;
}

#department-groups {
	float: left;
	width: 405px;
	margin-top: 15px;
	margin-left: 10px;
}

#department-groups label {
	width: 300px;
}

#sales-department-groups {
	float: left;
	width: 363px;
	margin-top: 5px;
	margin-left: 10px;
}

#txtCreateUserFirstname, #txtCreateUserLastname, #txtCreateUserEmailAddress, #txtEditNicknamesUserName, #txtEditAddNickname, #txtCreateGroupName, #txtCreateGroupEmailAddress, #txtCreateGroupDescription, #txtCreateGroupAddUser, #txtEditGroupDescription, #txtEditGroupAddUser, #txtResetPasswordEmailAddress, #txtResetPasswordSendToEmailAddress, #txtResetPasswordNewPassword, #txtSuspendActivateUserEmailAddress, #txtRemoveFromGroupsEmailAddress {
	width: 200px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;	
}

#txtCreateUserEmailAddress {
	width: 300px;
}

#txtCreateUserLastname, #create-user-lastname label {
	position: relative;
	left: 50px;
}

#txtCreateUserFirstname, #txtCreateUserLastname {
	text-transform: capitalize;
}

#txtEditNicknamesUserName {
	width: 200px;
}

#txtEditAddNickname {
	width: 250px;
}

#txtCreateGroupDescription, #txtEditGroupDescription {
	width: 600px;
}

#txtEditAddNickname, #txtCreateGroupAddUser, #txtEditGroupAddUser {
	margin-top: 20px;
}

#txtCreateGroupAddUser, #txtEditGroupAddUser, #txtResetPasswordEmailAddress, #txtResetPasswordSendToEmailAddress, #txtSuspendActivateUserEmailAddress, #txtRemoveFromGroupsEmailAddress {
	width: 250px;
}

#create-user-lastname {
	float: right;
	margin-right: 50px;
}

.email-domain {
	color: #999;
	font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
}

#user-list, #edit-user-list {
	position: relative;
	left: 169px;
	top: -377px;
	width: 253px;
	min-height: 24px;
	max-height: 300px;
	border: 1px dotted #999;
	background: #fff;
	font-weight: bold;
	opacity: .9;
	filter: alpha(opacity=90);
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
}

#edit-user-list {
	top: -409px;
}

.api-create-new-group-user, .api-edit-group-user, .api-password-reset, .api-suspend-activate, .api-remove-from-groups {
	padding: 2px 5px;
}

.api-create-new-group-user:hover, .api-edit-group-user:hover, .api-password-reset:hover, .api-suspend-activate:hover, .api-remove-from-groups:hover {
	background: #ccc;
	cursor: pointer;
}

#api-suspend-activate-user-right {
	display: inline-block;
}

#api-suspend-activate-user-status {
	display: inline-block;
	width: 150px;
	height: 23px;
	padding-top: 3px;
	margin-left: 30px;
	color: #ccc;
	background: #999;
	border: 2px solid #666;
	font-size: 14px;
	text-align: center;
}

.api-suspend-activate-user-status-suspended {
	font-weight: bold;
	color: #fff !important;
	background: #f66 !important;
	border: 2px solid #f00 !important;
	cursor: pointer;
}

.api-suspend-activate-user-status-activated {
	font-weight: bold;
	color: #fff !important;
	background: #5ccd00 !important;
	border: 2px solid #459a00 !important;
	cursor: pointer;
}

#btnEditAddNickname, #btnAddUser, #btnEditAddUser {
	position: relative;
	top: -2px;
	width: 30px;
	height: 26px;
	font-size: 10px;
	padding: 0 !important;
	margin: 0 !important;
}

#edit-nicknames-to-add, #users-to-add, #edit-users-to-add {
	position: relative;
	top: -29px;
	left: 450px;
	border: 1px solid #ccc;
	height: 280px;
	width: 300px;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

#edit-users-to-add {
	height: 312px;
}

#users-to-add-hint, #edit-users-to-add-hint {
	position: relative;
	top: -30px;
	left: 450px;
	border: 1px solid #ccc;
	background: #eee;
	width: 300px;
	padding: 5px;
	font-size: 11px;
	text-align: center;
}

.user-nickname {
	cursor: pointer;
}

.nickname-to-add {
	color: #666;
	margin-right: 5px;
}

.remove-nickname {
	position: relative;
	top: 1px;
	font-size: 14px;
	font-weight: bold;
	padding-right: 2px;
	/*margin-right: 2px;*/
	cursor: pointer;
	color: red;
}

.user-email {
	cursor: pointer;
}

.user-email.owner {
	font-weight: bold;
}

.user-email .box {
	color: #fff;
	background: #999;
	padding: 0 5px 2px 5px;
}

.user-to-add {
	color: #666;
	margin-right: 5px;
}

.remove-user {
	position: relative;
	top: 1px;
	font-size: 14px;
	font-weight: bold;
	padding-right: 2px;
	/*margin-right: 2px;*/
	cursor: pointer;
	color: red;
}

#email-to-reset-list, #suspend-activate-list, #remove-from-groups-list {
	display: none;
	position: relative;
	left: 169px;
	min-height: 24px;
	max-height: 300px;
	width: 254px;
	border: 1px dotted #999;
	background: #fff;
	font-weight: bold;
	opacity: .9;
	filter: alpha(opacity=90);
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
}

#email-to-reset-list {
	top: -495px;
}

#suspend-activate-list {
	top: -362px;
}

#remove-from-groups-list {
	top: -288px;
}

#api-generate-groups-listing-info {
	border: 1px dotted #ccc;
	background: #eee;
	padding: 10px 15px;
	margin: 8px 3px 20px 3px;
}

/* group lookup */

#txtLookupUserFirstname, #txtLookupUserLastname, #txtLookupGroupName {
	text-transform: capitalize;
}

#txtLookupUserFirstname, #txtLookupUserLastname, #txtLookupGroupName, #txtLookupEmailAddress {
	width: 170px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;	
}

#txtLookupUserFirstname, #txtLookupGroupName {
	margin-right: 50px;
}

tr.heading {
	font-weight: bold;
	font-size: 14px;
	background: #d5f7a1;
}

/* inventory */

#inventory-container {
	position: fixed;
	right: -575px;
	top: 125px;
	width: 600px;
	height: 500px;
	/*background: #fff;
	border: 1px solid #ccc;*/
	opacity:.95;filter:alpha(opacity=95);
	z-index: 1;
}

#inventory-title {
	display: inline-block;
	float: left;
	position: relative;
	top: 26px;
	left: -22px;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid #000;
	background: #093;
	color: #fff;
	padding: 1px 5px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#inventory-title.open {
	background: #000;
}

#inventory {
	float: left;
	position: absolute;
	top: 3px;
	left: 25px;
	width: 659px;
	height: 468px;
	background: #fff;
	border: 1px solid #999;
	overflow-x: hidden;
	overflow-y: auto;
}

.inventory-serial-number {
	background:#5ccd00 !important;
	/*
	background:-moz-linear-gradient(top,#5ccd00 0%,#4aa400 100%) !important;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5ccd00),color-stop(100%,#4aa400)) !important;
	background:-webkit-linear-gradient(top,#5ccd00 0%,#4aa400 100%) !important;
	background:-o-linear-gradient(top,#5ccd00 0%,#4aa400 100%) !important;
	background:-ms-linear-gradient(top,#5ccd00 0%,#4aa400 100%) !important;
	background:linear-gradient(top,#5ccd00 0%,#4aa400 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ccd00',endColorstr='#4aa400',GradientType=0) !important;
	*/
	padding:10px 15px;
	color:#fff !important;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:11px;
	border-top:1px solid #459a00 !important;
	cursor:pointer;
}

.inventory-serial-number:hover {
	background: url(/assets/images/bg/bg_clickable.gif) !important;
	color:#000 !important;
}

.box-table-a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	/*margin: 45px;*/
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.box-table-a th {
	font-size: 12px;
	font-weight: normal;
	padding: 3px 3px;
	background: #d5f7a1;
	border-top: 0;
	border-bottom: 1px solid #fff;
	color: #000;
}

.box-table-a td {
	vertical-align: text-top;
	padding: 3px;
	background: #f2fae1;
	border-bottom: 1px solid #fff !important;
	color: #000;
	border-top: 1px solid transparent !important;
}

.box-table-a td.spacer {
	height: 5px;
	background: #fff;
}

.box-table-a td.spacer:hover {
	background: #fff;
}

.box-table-a tr:hover td {
	color: #000;
	background: #d5f7a1;
}

.box-table-a .serial-number, .box-table-a .type {
	width: 25%;
}

.box-table-a .description {
	width: 50%;
}

/* scratchpad */

#scratchpad-container {
	position: fixed;
	right: -270px;
	top: 200px;
	width: 300px;
	height: 400px;
	/*background: #fff;
	border: 1px solid #ccc;*/
	opacity:.95;filter:alpha(opacity=95);
	z-index: 2;
}

#scratchpad-title {
	display: inline-block;
	float: left;
	position: relative;
	top: 32px;
	left: -22px;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid #000;
	background: #690;
	color: #fff;
	padding: 1px 5px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#scratchpad-has-content {
	display: none;
	float: left;
	position: relative;
	top: 60px;
	left: 7px;
	width: 12px;
	height: 18px;
	font-size: 14px;
	border: 1px solid #000;
	background: #9c3;
	color: #fff;
	padding: 1px 5px;
}

#scratchpad-title.open {
	background: #000;
}

#scratchpad {
	float: left;
	position: absolute;
	top: 3px;
	left: 31px;
	width: 259px;
	height: 368px;
	background: #f2fae1;
	border: 1px solid #999;
	resize: none;
}

#btnClearScratchpad {
	position: absolute;
	top: 377px;
	left: 31px;
	width: 40px;
	height: 16px;
	font: 10px/14px "Lucida Sans", sans-serif !important;
	text-align: center;
}


/*** cluetip ***/

/* global */
div.ui-cluetip {
	font-size: 1em;
}
.ui-cluetip-header {
	padding: 6px;
}
.ui-cluetip-content {
	background: #fff;
	padding: 6px;
}
.ui-cluetip-header {
	color: #fff;
	font-size: 1em;
	margin: 0;
	overflow: hidden;
}

.cluetip-title .cluetip-close {
	float: right;
	position: relative;
}

#cluetip-waitimage {
	width: 43px;
	height: 11px;
	position: absolute;
	background-image: url(/assets/images/bg/wait.gif);
}
.cluetip-arrows {
	display: none;
	position: absolute;
	top: 0;
	left: -11px;
	width: 11px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: 0 0;
	border-width: 0;
}
.cluetip-extra {
	display: none;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
	background-color: #000;
}
.cluetip-jtip .cluetip-outer {
	-moz-box-shadow:10px 10px 10px #000;-webkit-box-shadow:10px 10px 10px #000;box-shadow:10px 10px 10px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#000000');
	position: relative;
	
}

.cluetip-jtip .cluetip-inner {
	border:none;
}
.cluetip-jtip div.cluetip-close {
	text-align: right;
	margin: 0 5px 0;
	color: #900;
}

.cluetip-jtip .ui-cluetip-header {
	height: 20px;
	background: #999;
	padding: 2px 6px;
	border: 0;
	margin: 1px;
}

/* jtip arrows */
div.cluetip-jtip .cluetip-arrows {
	border-width: 0;
	background: transparent none;
}
div.clue-right-jtip .cluetip-arrows {
	background-image: url(/assets/images/bg/arrowleft.png);
}
div.clue-left-jtip .cluetip-arrows {
	background-image: url(/assets/images/bg/arrowright.png);
	left: 100%;
	margin-right: -11px;
}
div.clue-top-jtip .cluetip-arrows {
	background-image: url(/assets/images/bg/arrowdown.png);
	top: 100%;
	left: 50%;
	width: 22px;
	height: 11px;
	margin-left: -11px;
}
div.clue-bottom-jtip .cluetip-arrows {
	background-image: url(/assets/images/bg/arrowup.png);
	top: -11px;
	left: 50%;
	width: 22px;
	height: 11px;
	margin-left: -11px;
}
